@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h-full-header {
        @apply min-h-[calc(100vh-4rem)];
    }

    .h-90-header {
        @apply min-h-[calc(90vh-4rem)];
    }
}
