@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
    .p-header {
        @apply pt-[4rem];
    }

    .h-full-header {
        @apply min-h-[calc(100vh-4rem)];
    }

    /* .h-90-header {
        @apply min-h-[calc(90vh-4rem)];
    } */
}
